body {
  font-family: Verdana;
  background-color: #f9fafb;
  color: #111827;
  max-width: 640px;
  margin: 4rem auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

